secrets.toml
setup/service_account_key.json
config/firebase.json
archive/
functions/

# OS-specific files
.DS_Store

google-cloud-sdk/
*.pyc
__pycache__/
*.p12unicke-e1319c4c88c6.json

node_modules/
.env
